USE [master]
GO
/****** Object:  Database [Conveniencia]    Script Date: 29/08/2021 15:21:42 ******/
CREATE DATABASE [Conveniencia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Conveniencia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Conveniencia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Conveniencia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Conveniencia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Conveniencia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Conveniencia]
GO
/****** Object:  Table [dbo].[produto]    Script Date: 29/08/2021 15:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](30) NULL,
	[Descricao] [varchar](100) NULL,
	[Quantidade] [bigint] NULL,
	[tipo] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
